body{
    font-family: Verdana;
    text-align: center;
    color: #333;
    background-color: #e3e9ff;
}
#wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
}
.invitation {
    background: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    max-width: 800px;
}
#header {
    background: #70b3ff;
    color: #fff;
    padding: 20px 30px;
    border-radius: 5px 5px 0 0;
  }
.main {
    background: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    max-width: 800px;
}
#inviteForm input {
    border: 1px solid #eee;
    padding: 10px 100px 10px 10px;
    width: 50%;
    height: 10px;
    color: #333;
}
#inviteForm button {
    padding: 0 1em;
    background: #70b3ff;
    color: #fff;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    
    right: 5px;
    top: 5px;
    height: 40px;
    transition: opacity 0.3s linear;
}
#inviteForm button:hover {
    opacity: 0.7;
}
#invitedList {
    text-align: left;
}
#invitedList li label {
  font-size: 14px;
  display: block;
  margin: 0 0 10px;
  color: rgba(112, 112, 112, .55);
}

#invitedList li button {
    
    margin: 0 5px 20px 0;
    padding: 5px 10px;
    
}
#invitedList span label {
    
}